.Epost{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: lightcyan;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    position: relative;
}

.Epostcontainer{
    height: auto;
    width: 1000px;
    flex-direction: center;
    /* background-color: red; */
    border-radius: 25px;
    border: 2px solid lightblue;
    margin-bottom: 200px;
    position: fixed;
}

.EImgContainer{

    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.EpostImg{
    max-width: 500px;
    max-height: 1000px;
    object-fit: cover;
    border-radius: 15px;
}

.EpostInfo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.EpostTitle{
    font-size: 20px;
    font-weight: bold;
}

.EpostDesc{
    font-size: 10px;


}

@media screen and (max-width: 1200px){
    .Epostcontainer{
        width: 83%;

    }
}