.about{
    height: 100vh;
    display: flex;
    background-color: lightcyan;
    align-items: center;
    position: relative;
    overflow:hidden;
}

.about-left{
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.about-right{
    flex: 1;
}

.about-card{
    width: 39%;
    height: 45vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}

.about-card.bg{
    position: absolute;
    top: 235px;
    left: 265px;
    background-color: #3D5A80;

}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-backgr{
    clip-path: polygon(0 0, 0% 100%, 50% 0);
    background-color: #ee6c4d;
    width: 100%;
    height: 100%;
    position: absolute;

}



.about-title{
    font-size: 60px;
    font-weight: bold;
}

.about-sub{
    margin: 20px 0px;
    font-weight: bold;
    display:inline-block;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }

.about-desc{
    font-weight: 300;
    padding-right: 200px;
}

.whisper-wrapper{
    padding-right: 75px;
    position:absolute;
    bottom:0;
    right:0;
}

.whisper{
    height: 50px;
    display: inline-block;
    bottom: 0px;


}

.about-icon{
    display: inline-block;
    bottom: 0px;
    padding-left: 15px;
}

.greekrho{
    width: 30%;
    height: 22vh;
    margin: 20px 0px;
    border: 2px solid grey;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.greekrho-browser{
    height: 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 2px;
    background-color: lightcyan;
}

.g-img{
    width: 100%;
    transition: all 10s ease;
}

.greekrho:hover .g-img{
    transform: translateY(-80%);

}

@media screen and (max-width: 1200px){
    .about{
        flex-direction: column;
        text-align: center;
    }

    .about-left{
        flex: 0;
        padding-top: 50px;
        /* background-color: red; */
    }

    .about-right{
        /* padding-bottom: 300px; */
    }

    .about-title{
        margin-bottom: -15px;
    }
    .about-desc{
        padding-right: 170px;
        padding-left: 170px;
    }

    .about-backgr{
        clip-path: polygon(0 0, 0 50%, 50% 0);
        top: 0;
        left:0;
    }

    .about-card{
        width: 30vh;
        height: 30vh;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        background-color: red;
    }
    
    .about-card.bg{
        position: absolute;
        top: 30px;
        left: -20px;
        background-color: #3D5A80;
    
    }

    .greekrho{
        width: 15vw;
        height: 15vw;
        position: absolute;
        left: 42%;
        border: 2px solid grey;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
    }
}

@media screen and (max-width: 860px){ 
    
    
    .about-title{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: -10px;
        /* background-color: red; */
    }

    .about-sub{
        font-size: 40px;
        line-height: 40px;

    }
    .about-desc{
        padding-right: 30px;
        padding-left: 30px;
        font-size: 15px;
        /* line-height: 18px; */
    }
    
    .greekrho{
        width: 25vw;
        height: 25vw;
        position: absolute;
        left: 37%;
        border: 2px solid grey;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .about-sub{
        font-size: 20px;
        line-height: 21px;

    }

    .about-desc{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 15px;
        /* line-height: 18px; */
    }
    
}


@media screen and (max-width: 375px){
    .about-desc{
        font-size: 12px;
        line-height: 15px;

    }
     


}