.experience{
    display: flex;
    height: 100vh;
    background-color: lightcyan;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

.r-container{
    height: 50%;
    background-color: red;
}
