.experience{
    display: flex;
    height: 150vh;
    background-color: lightcyan;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    /* flex-wrap: wrap; */
    }

.r-container{
    height: 111vmin;
    width: 88vmin;
    display: flex;
    background-color: #ee6c4d;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    object-fit: contain;


}

.resume{
    /* display: block; */
    max-width:100%;
    max-height:94%;
    width: auto;
    height: auto;
    z-index: 2;
    object-fit: contain;
}

.title{
    padding-top:100px;
    padding-bottom: 10px;
    font-weight: bold;
    /* position: absolute;
    top: 120px; */
}



.btgroup{
    width: auto;
    height: auto;
    padding-top: 20px;
}

.bt1{
    background-color: #293241;
    border-color: #293241;
}

.bt1:hover{
    background-color: #3D5A80;
    border-color: #3D5A80;
}

.bt1:focus{
    background-color: #3D5A80;
    border-color: #3D5A80;
}


@media screen and (max-width: 450px){
    .experience{
        height: 100vh;

        }
}