.intro{
    display: flex;
    height: 100vh;
    background-color: lightcyan;
    overflow: hidden;
}

.intro-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.intro-right{
    flex: 1;
    position: relative;
}

.intro-left-wrapper{
    padding: 50px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
}

.intro-greeting{
    font-size: 30px;
    font-weight: 300;
}

.intro-name{
    font-size: 60px;
    line-height: 70px;
    font-weight: bold;
}

.intro-title{
    height: 53px;
    overflow: hidden;
    min-height: 53px;
}

.intro-title-wrapper{
    height: 100%;
    animation: move 9s ease-in-out infinite normal;

}

.switchgroup{
    width: initial;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.switch{
    background-color: #ee6c4d;
    border-color: #ee6c4d;
}

.switch:hover{
    background-color: #98c1d9;
    border-color: #ee6c4d;
    color: white;
}

.switch:focus{
    background-color: #3D5A80;;
    border-color: #ee6c4d;
    color: white;
}

@keyframes move {
    33%{
        transform: translateY(-50px);
    }

    66%{
        transform: translateY(-100px)
    }

    100%{
        transform: translateY(-150px)
    }
    
}

.intro-title-item{
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    color: #ee6c4d;
    /* display: flex; */
    align-items: center;
}

.intro-desc{
    font-size: 18px;
    /* padding-right: 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.intro-icons-item{
    display: inline-block;
    padding-right: 15px;   
}

.intro-img{
    width: auto;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 50px;
}

.intro-bg{
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    background-color: #ee6c4d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}


@media screen and (max-width: 1200px){
    .intro{
        flex-direction: column;
    }

    .intro-left-wrapper{
        padding: 0;
        padding-top: 100px;
        margin-top: 60px;
        align-items: center;
        text-align: center; 
        justify-content: center;
        height: 100%;
    }

    .intro-name{
        white-space: nowrap;
        font-size: 60px;


    }
    .intro-greeting{
        font-size: 30px;
        font-weight: 300;
    }
    

    .intro-desc{
        width: 60%;
        padding-right: 0px;
    }

    .intro-img{
        margin: auto;
        display: block;
        height: 50vh;
        width: auto;
        object-fit: contain;
        position: relative;
        padding-right: 0px;
    }

    .intro-bg{
        clip-path: polygon(100% 50%, 50% 100%, 100% 100%);

    }

@media screen and (max-width: 500px){

    .intro-desc{
        display: none;
    }
}
    .intro-name{
        white-space: nowrap;
        font-size: 45px;
        line-height: normal;


    }

    .intro-left-wrapper{
        padding: 0px;
        align-items: center;
        text-align: center; 
        justify-content: center;
        height: 100%;
        
    }

    .intro-icons{
        padding-top: 20px;
        padding-right: 0px;
        padding: 5px;
    }
}

@media screen and (max-width: 440px){
    .intro-left-wrapper{
        text-size-adjust: auto;
    }
}

@media screen and (max-width: 370px){
    .intro-name{
        font-size: 35px;
    }

    .intro-title-item{
        font-size: 20px;
    }
}








