.footer{
    background-color: #3d5a80;
    color: #3d5a80;
    position: relative;

}

.link{
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}